:root {
  --base-3:  #fdf6e3;
  --base-2:  #eee8d5;
  --base-1:  #93a1a1;
  --base-0:  #839496;
  --base-00: #657b83;
  --base-01: #586e75;
  --base-02: #073642;
  --base-03: #002b36;

  --split:   #b58900;
  --tetrad:  #d33682;
  --analog:  #2aa198;
  --comp:    #cb4b16;
  --mono:    #268bd2;
  --altlog:  #6c71c4;
  --triad:   #dc322f;
  --check:       red;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
img {
  display : block;
  margin-top :auto;
  margin-left :auto;
  margin-right :auto;
}

body {
  font-family: sans-serif;
  font-size: 12px;

  background-color: var(--base-01);
  color: var(--base-03);
}

.title {
  font-size: 65px;
}

.subtitle {
  font-size: 30px;
}

.t_box {
  margin: 2% 0 0 7%;
  padding: 2% 2% 2% 2%;
  width: 85%;
  border: 0px solid var(--split);
  text-align: center;

  background-color: var(--base-2);
  color: var(--base-03);
}

.small{
  font-size: calc(1vh + 1vw);
}

br.divide {line-height:0pt}

.content{
  margin: 0 2% 2% 7%;
  margin-bottom: 32px;
  padding: .5% .5% 0 1.5%;
  width: calc(87% + 0px);
  min-height: 430px;
  text-align: left;
  font-size: calc(1.5vh + 1.5vw);

  background-color: var(--base-3);
}

.h_nav {
  table-layout : fixed;
  width: 100%;
  text-align: center;
}

.head{
  margin: 0 0% 0% 7%;
  padding: .5% .5% 0 1.5%;
  width: calc(87% + 0px);
  min-height: 20px;
  text-align: left;
  font-size: calc(1.5vh + 1.5vw);
  color: white;
  background-color: var(--base-1);
}

.emph, .emph:visited, .emph:link{
  color: var(--split);
}

.high, .high:visited, .high:link{
  color: var(--tetrad);
}

.stress, .stress:visited, .stress:link {
  color: var(--analog);
}

.check {
  color: var(--check);
}

.nav {
  transform-origin: 0 0;
  height: 20px;
  min-width: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5vw;
  padding: 2px 2px 2px 2px;
}

a.nav:link, a.nav:visited {
  color: var(--base-3);
}

.nav_home {
  margin-top: 10px;
}

.nav_about {
  margin-top: 85px;
}

.nav_sharing {
  margin-top: 160px;
}

.nav_collecting {
  margin-top: 255px;
}

.nav_educating {
  margin-top: 342.5px;
}

#sel {
  color: var(--base-03);
}

.nav:hover{
  color: green;/* var(--altlog);*/
  margin-left: calc(6% - 20px);
  cursor: pointer;
}

.footer {
  position: fixed;
  margin-top: 10%;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3px 3px 3px 3px;
  font-size: calc(1.2vh + 1.2vw);

  background-color: var(--base-2);
  color: var(--base-01);
  text-align: center;
}

.sub {
  font-size: 14px;
  margin-left: 20px;
  margin-top: -.2%;
}

.divide {
  height: 100px;
  width: 100%;
  background-color: red;
}

.logo {
  position: relative;
  width: 30%;
  height: 30%;
  padding: 10px 27.5px 0px 10px;
}

.d_grid {
  table-layout : fixed;
  width: 100%;
  text-align: center;
}
